body {
  margin: 0;
  background-color: black;
  font-family: ystem-ui, -apple-system, BlinkMa Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}


  